* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", sans-serif;
  height: 100vh;
  color: white;
  background-position: center;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10vh;
}
nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
footer {
  position: relative;
  background-color: #00a8c7;
  color: white;
  bottom: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.htmlcssTitle2 {
  position: absolute;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 15rem;
  width: 300px;
  overflow: hidden;
  margin-left: 99rem;
  text-align: left;
  font-weight: bold;
  font-size: large;
  white-space: nowrap;
  scale: 160%;
}
.kleur1 {
  color: #00a8c7;
}
.kleur2 {
  color: #ef5838;
}
.IndexTitle {
  position: absolute;
  font-weight: bold; 
  color: white; 
  top: 55%;
  left: 50%; 
  text-align: center;
  font-size: 2.5rem;
  transform: translate(-50%,-50%);
  }
.htmlText {
  text-align: left;
  color: black;
  margin-top: 18rem;
  font-size: 1.6rem;
  font-weight: bold;
  width: 70%;
}
.phpText {
  text-align: center;
  color: black;
  margin-top: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.htmlimg {
  float: left;
  margin-left: 10px;
  padding-right: 10rem;
}
footer {
  position: fixed;
    background-color: #00a8c7; 
    color:white;
    text-align: center;
    padding: 20px;
    bottom: 0%;
    width: 100%;
}
.javascriptimg {
  float: right;
  margin-top: 7%;
  margin-right: 370px;
  width: 330px;
}
.javascriptTitle {
  position: absolute;
  left: 37rem;
  top: 19rem;
  font-weight: bold;
  text-align: center;
  scale: 200%;
  color: white;
  margin-top: 195px;
  width: 300px;
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  font-size: large;
  white-space: nowrap;
}
.kleur3 {
  color: yellow;
}
.javascriptText {
  text-align: left;
  width: 29%;
  margin-left: 12%;
  overflow: hidden;
  color: white;
  margin-top: 19rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.phpimg {
  float: left;
  margin-top: 15rem;
  margin-left: 15rem;
  width: 30%;
  height: auto;
  padding-right: 150px;
}
.phpText {
  text-align: left;
  color: black;
  margin-top: 18rem;
  margin-left: 25rem;
  font-size: 1.6rem;
  font-weight: bold;
  width: 50%;
}
.phpTitle {
  position: absolute;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 16rem;
  width: 300px;
  overflow: hidden;
  margin-left: 81rem;
  text-align: left;
  font-weight: bold;
  font-size: large;
  white-space: nowrap;
  scale: 160%;
}
.kleur4 {
  color: darkblue;
}
.sqlimg {
  float: right;
  margin-top: 11%;
  margin-right: 410px;
  width: 330px;
}
.sqlText {
  text-align: left;
  width: 29%;
  margin-left: 23rem;
  overflow: hidden;
  color: white;
  margin-top: 19rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.sqlTitle {
  position: absolute;
  left: 38rem;
  top: 15rem;
  font-weight: bold;
  text-align: center;
  scale: 200%;
  color: white;
  margin-top: 195px;
  width: 300px;
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  font-size: large;
  white-space: nowrap;
}
.kleur5 {
  color: orange;
}
.htmlcss {
  color: black;
  text-align: center;
  margin-top: 90px;
  scale: 200%;
  position: relative;
}
.php {
  color: black;
  text-align: center;
  margin-top: 90px;
  scale: 200%;
  position: relative;
}
.javascript {
  color: white;
  text-align: center;
  margin-top: 90px;
  scale: 200%;
  position: relative;
}
.sql {
  color: white;
  text-align: center;
  margin-top: 90px;
  scale: 200%;
  position: relative;
}

span{
 
}