* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.centeredText {
  position: absolute;
  font-weight: bold; 
  color: white; 
  top: 55%;
  left: 50%; 
  text-align: center;
  font-size: xx-large;
  transform: translate(-50%,-50%);
  }

.indeximg{
  width: 100vw;
}

.html-css{
float:left;
margin-top: 0px;
margin-right: 10px;
margin-left: 10px;
}

.headhtml{
 position: absolute;
 left: 40%;
 top: 15%;
 font-weight: bold;
 text-align: center;
 font-size: xx-large;
}

.tekst{
  text-align: left;
  color: black;
  margin-top: 200px ;
  font-size: large;
  font-weight: bold;
}


.htmlfooter{
  position: fixed;
  background-color: #00a8c7; 
  color:white;
  text-align: center;
  padding: 20px;
  bottom: 0%;
  width: 100%;
}